#BodyPrincipalGlobal{margin-top: 3%;}
#Card2Options{margin-top: 40px}
#HeaderPrincipal{background-image: url("../../img/middle.jpg");margin-top: 2%;height: 500px;background-position: center;background-size: cover;}
.PMaginLetter{margin-left: 3%; color: white;}
#PTitleHeader{}