body{
    margin: 0;
    font-family: 'H', 'Trebuchet MS', Helvetica;
    background-color: rgb(234, 230, 240);
}

header{
    border-top: 20px solid #002c9e;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}


#header-title{
    font-weight: bold;
    font-size: 40px;
    padding-left: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button-header{
    padding-left: 100px;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.profile-btn {
    background-color: #ffcc00;
    color: white;
    border: 1px solid transparent;
    padding: 5px 9px;
    border-radius: 5px;
    font-weight: bold;
    color: #003399;
    cursor: pointer;
}

.message-area {
    display: flex;
    padding: 1rem;
    padding-top: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 935px;
    margin: 0 auto;
    align-content: center;
    align-items: center;
}

.card {    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fff;
}  

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 
  
.container {
    padding: 2px 16px;
}

.main-message{
    margin-left: 40px;
}

.main-question{
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
}

.card-buttons{
    margin-bottom: 16px;
    float: right;
}

.second-btn{
    color: #003399;
    font-weight: bold;
    border: 0px;
    background-color: #fff;
    cursor: pointer;
}

.hide-ele{
    display: none;
}

.var-left{
    background-color: #110533ed;
}
.item-var-left{
  color: white;
}

.backgroundImg{
  background-image: url(../img/wall.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.anchor_navbar{
  padding-right: 70%;
}
.items-navbar{
  color: black;
}

.img-menu{
  vertical-align: middle;
  border-style: none;
}
.item-menu{
  width: 47%;
}

.btn-cards{
  margin-top: 20px;

}
.my_car{
  background-color: #00000094;
  color: white;
  margin-top: 10%;
  margin-bottom: 10%;
}

.navbar{
    background-color: #110533!important;
    color: white;

}

.padding-items{
    padding-top: 10px;
}

.item-menu{
  width: 47%;
}

.card-menu{
  background-color: #00000094!important;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
}
/* css footer*/
.site-footer{
  background-color:#110533;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#979797;
}
.titleFooter{
  color: white;
}
.menu{
  margin-top: 10px;
  margin-bottom: 8%;
}

.footer-links{
  padding-left:0;
  list-style:none
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* css footer*/