body{
    margin: 0;
    font-family: 'H', 'Trebuchet MS', Helvetica;
    background-color: rgb(234, 230, 240);
}

header{
    border-top: 20px solid #002c9e;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}


#header-title{
    font-weight: bold;
    font-size: 40px;
    padding-left: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button-header{
    padding-left: 100px;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.profile-btn {
    background-color: #ffcc00;
    color: white;
    border: 1px solid transparent;
    padding: 5px 9px;
    border-radius: 5px;
    font-weight: bold;
    color: #003399;
    cursor: pointer;
}

.message-area {
    display: flex;
    padding: 1rem;
    padding-top: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 935px;
    margin: 0 auto;
    align-content: center;
    align-items: center;
}

.card {    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fff;
}  

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 
  
.container {
    padding: 2px 16px;
}

.main-message{
    margin-left: 40px;
}

.main-question{
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
}

.card-buttons{
    margin-bottom: 16px;
    float: right;
}

.second-btn{
    color: #003399;
    font-weight: bold;
    border: 0px;
    background-color: #fff;
    cursor: pointer;
}

.hide-ele{
    display: none;
}

.var-left{
    background-color: #110533ed;
}
.item-var-left{
  color: white;
}

.backgroundImg{
  background-image: url(../img/wall.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.anchor_navbar{
  padding-right: 70%;
}
.items-navbar{
  color: black;
}

.img-menu{
  vertical-align: middle;
  border-style: none;
}
.item-menu{
  width: 47%;
}

.btn-cards{
  margin-top: 20px;

}
.my_car{
  background-color: #00000094;
  color: white;
  margin-top: 10%;
  margin-bottom: 10%;
}

.navbar{
    background-color: #110533!important;
    color: white;

}

.padding-items{
    padding-top: 10px;
}

.item-menu{
  width: 47%;
}

.card-menu{
  background-color: #00000094!important;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
}
#ListInvoice{background-color: rgba(255, 255, 255, 0.625);margin-left: auto;height: 874px;max-height: 150%;overflow: auto;}
#height_Auto{padding: 0px;background-color: rgba(255, 255, 255, 0.425);}
.TextConta{text-align: center !important;color: #110533;font-weight: 700;}
#CardConta{padding-left: 0px;padding-right: 0px;}
#CardContabilidad{flex-wrap: wrap;display: -webkit-box;}
#tdCardConta{border-top: 1px solid transparent;}
.table{margin-top: 10px;}
#titleFrom{padding-bottom: 2px;}
#ButtonListInvoice{background-color: transparent;border-color: transparent; width: 100%;}
#ButtonListInvoice:hover{background-color: #f8f9fa; border-color: #f8f9fa;}
#BreadcrumbListInvoice{margin-top: 9px;}
#SearchInvoice{margin-left: auto;}
#FormInvoiceSearch{margin-top: 7px;}
#ButtonSearch{background-color: #110533; border-color: #090331; color: white;}
#ButtonSearch:hover{background-color: #E8EAEC; border-color: #090331; color: #110533;}
#CrearObjecto:hover{background-color: #110533; border-color: #090331; color: white;}
#CrearObjecto{background-color: #E8EAEC; border-color: #090331; color: #110533;}
#rowAllConta{width: 100%; height:-webkit-fill-available;}
.backgroundTap{background-color: #0a0027;}
#TitleRegistrarFactura{font-size: xxx-large;}
#SubtitleRegistrarFactura{font-size: xx-large;}
#tareatextRegistrarFac{margin-bottom: 10px;}
#margenesTotalFacRegis{margin-left: auto;}